html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section-1 {
    position: relative;
    background-image: url(images/developer.png);
    min-height: 100%;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heading-1 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-weight: 300;
    letter-spacing: 4px;
}

.heading-1 #h2 {
    text-transform: uppercase;
}

.div-1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px 30px;
    font-weight: 300;
    letter-spacing: 4px;
}

.div-1 h1 {
    transform: scale(1.5);
}

.div-1 .span-2 {

    font-size: 60px;
}
.section-1{
    align-items: center;
}
.section-2{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
}
.section2-container
{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.container:hover
{
    transform:scale(1.05);
}
.container {
    max-width:320px;
    height:auto;
    border-radius:10px;
    box-shadow:3px 5px 5px rgb(1, 1, 1, 0.2);
    margin-bottom:7px;
    transition:all 0.15s ease-in;
}
.divs-texts
{
    padding:20px 20px 30px;
}
.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer-div1 {
    width: 50%;
    height: auto;
    padding: 20px;
    background-color: darkolivegreen;
    color: white;
}

.footer-div2 {
    background-color: brown;
    color: white;
    width: 50%;
    height: auto;
    padding: 20px
}

.footer-div2 p,
h1 {
    transform: scale(0.9);
}

.footer-div1 p,
h1 {
    transform: scale(0.9);
}

.footer {
    display:flex;
    padding: 30px;
    background-color: black;
    color: white;
    justify-content:center;
    font-weight: 700;
}
@media (max-width:760px)
{
    .section-1{
        max-height:50vh;
    }
    .heading-1{
        text-align:center;
        font-size:24px;
    }
    .div-1
    {
        font-size:30px;
    }
    .footer-container{
        flex-direction: column;
    }
}