* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body
{
    color:black;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background-color: brown;
    color: white;
    position: sticky;
    z-index: 50;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 30px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.logo i,
span {
    font-size: 20px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    gap: 40px;
    font-size: 20px;
}

.menu ul a {
    color: white;
    text-decoration: none;
    transition: all 0.25s;
}
.menu a:hover{
    font-size:25px;
    transition: all 0.25s;
    transform: translateY(-10px);
}
.background {
    background-image: url(https://cdn.pixabay.com/photo/2017/06/06/22/37/italian-cuisine-2378729__480.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 750px;
}

.background-div {
    padding-top: 90px;
}

.btext h1 {
    font-size: 30px;
}

.btext {
    width: fit-content;
    height: auto;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    line-height: 65px;
}
.btext h1{
    font-size:50px;
}
.btext p{
    font-size:30px;
}
.service-div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.service-text {
    font-size: 40px;
}

.catalog {
    max-width:800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    gap:60px;
}
.C1 img{
    width:320px;
    border-radius: 10px;
}
.C1{
    width:320px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 5px 5px grey;
    border-radius: 10px;
    gap:15px;
    padding:5px;
    border-left-color:grey solid 1px;
    transition:all 0.25s;

}
.C1 h3{ 
    font-family:'Times New Roman', Times, serif;
}
.C1 p{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.C1 button{
    padding:5px;
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
    color:white;
    align-self: center;
    border-radius:10px;
    font-size:20px;
    transition:all 0.25s;
    text-decoration: none;
    color:white;
}
.C1:hover{
    transform:translateY(-10px);
    transition:all 0.25s;
}
.C1 button:hover{
    background-color:bisque;
    color:black;
    transition:all 0.25s;
    text-decoration: none;
}
.product {
    background-image: url(https://cdn.pixabay.com/photo/2015/05/04/10/16/vegetables-752153__480.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}

.product-div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: white;
    height: auto;
    width: 100%;
    gap: 50px;
}

.product-div h1 {
    margin-top: 20px;
    font-size: 50px;
}

.form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 500px;
    padding: 50px 10px;
    border-radius: 10px;
    height: auto;
    gap: 20px;
}

.f1,
.f2 {
    display: flex;
    flex-direction: column;
}

input,
select {
    padding: 5px;
}

.f2 {
    grid-column: 1 / span3;
}
.f2 textarea{
    padding:5px;
}
.form button {
    padding: 5px;
    width: fit-content;
    background-color: red;
    color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#about,
#contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 50px;
    gap: 10px;
}

#about {
    background-color: brown;
    color: white;
}

#contact {
    background-color: burlywood;
    color: black;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact form input {
    width: 50%;
}
#contact form button{
    margin-top:5px;
    width:fit-content;
    padding:5px;
    color:white;
    background-color: brown;
    transition:all 0.25s;
}
#contact form button:hover{
    background-color:bisque;
    color:black;
    transition:all 0.25s;
}